.list_title{
    width:100%;
    height: 2.5rem;
    background-color: #f9f9f9;
    position:fixed;
    left:0;
    top:0;
    z-index:999;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.list_title .back {
    font-size: 1rem;
    color: #8f949b;
}

.list_title .search_con{
    width:14rem;
    height:1.75rem;
    border-radius:.2rem;
    background-color:#fff;
    display:flex;
    align-items:center;
}

.list_title .city{
    width:2rem;
    height:1.75rem;
    font-size:12px;
    color:#333;
    display: flex;
    align-items:center;
    text-indent:.575rem;
    background-size:11.5rem;      
}
.list_title .icon-xialajiantouxiangxia{
    padding-right:.25rem;
}
.list_title .icon-fangdajing{
    padding:0 .25rem;
}
.list_title .village{
    width:7rem;
    height:.75rem;
    border-left:.025rem solid #333;
    font-size:12px;
    color:#999;
    display: flex;
    align-items:center;
    background-size:11.5rem;
}

.list_title .tomap{
    width:1.2rem;
    height:1.2rem;
    border-radius:.6rem;
    border:1px solid #00a15b;
    text-align:center;
    line-height:1.2rem;
    color:#00a15b;
}

.filter_list{
    position:fixed;
    left:0;
    top:2.5rem;
    z-index:900;
    width:100%;
    height:2rem;
    background-color: #fff;
    border:1px solid #ddd;
    display:flex;
}

.filter_list li{
    width:25%;
    height:2rem;
    font-size:14px;
    color:#333;
    display:flex;
    align-items:center;
    justify-content:center;
}

.filter_list li i{
    color:#999;
    padding-left:4px;
}

.filter_list .active span,.filter_list .active i{
    color:#00a15b;
}

.slide_filter{
    display:none;
}

.slide_pannel{
    position: fixed;
    left:0;
    top:4.5rem;
    width:100%;
    height:310px;
    background-color:#fff;
    z-index:860;
}
.slide_comp{
    width:100%;
    height:260px;
}
.slide_btns{
    border-top:1px solid #ddd;
    height:50px;
    box-sizing:border-box;
    display:flex;
}

.slide_btns span{
    width:33%;
    line-height:50px;
    color:#20b979;
    text-align:center;
    font-size:.8rem
}
.slide_btns b{
    width:67%;
    background-color: #20b979;
    line-height:50px;
    color:#fff;
    text-align:center;
    font-size:.8rem;
    font-weight:normal;
}

.mask{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    z-index:850;
}